node_modules/
.env
.env.*
.env.local
.envrc
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pids/
*.pid
*.seed
*.pid.lock
coverage/
.nyc_output/
build/
dist/
.tmp/
.tmp*/
.temp/
.cache/
.eslintcache
.DS_Store
Thumbs.db
.idea/
.vscode/
*.tgz
*.swp
